/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Importacion de fuentes*/
@font-face{
    font-family: 'conejo';
    src: url(../FONTS//red\ rabbit.ttf);
}

/* Propiedades a todo el contenido del html*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

/* Estructuracion del body*/
body{
    background-color:rgba(112, 67, 139, 0.26);
}
#container{
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    background-color:#ffffff91;
    width: 720px;
}

/* Div de color blanco para contrastar, tiene sus propiedades*/
.blanco{
    text-align: center;
    margin-left: 11%;
    padding-bottom: 5%;
    background-color: white;
    width: 78%;
}
/* Div de color blanco para contrastar, tiene sus propiedades*/
.blanco2{
    text-align: center;
    margin-left: 11%;
    padding-bottom: 5%;
    background-color: white;
    width: 78%;
}

/*Propiedades del logo*/
#container .logo img{

    width: 22%;

}
/*Imagen ilustrativa*/
.imagen{

    display: flex;
    justify-content: center;

}
/*Propiedades de la imagen ilustrativa*/
.imagen img{
    
    width: 78%;
}
/*Caja del titulo y alineamiento*/
#titulo{
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
    font-weight: bold;
}
/*Propiedades de la caja texto*/
.texto1{
    margin-top: 1%;
    display: flex;
    justify-content: center;   
    width: 70%;
    margin-left: 15%;
}
/*Caja titulo 2*/
.titulo2{

    text-align: center;
    margin-top: 7.5%;
}
/*Propiedades especificas para el texto*/
.texto1 p{
    line-height: 182%;
}
/*Propiedades especificas para el titulo 2*/
.titulo2 h2{
    margin-left: 15%;
    padding-top: 8%;
    font-size: 175%;
    width: 70%;
}
/*Asignacion de propiedades a los href*/
a{
    text-decoration: none;
    color: rgb(23, 180, 240);
}
/*Href dentro de los botones, personalizacion*/
button a{
    text-decoration: none;
    color: white;
}

/*Propiedades para el boton en especifico*/
.boton button{

    margin-top: 3%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 7px 50px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #00adef;
    border-radius: 12px;
}

/*Difuminado de colores*/
.colores{
    width: 720px;
    background:linear-gradient(-45grad,red,blue,yellow,purple,orange,green,gray,white,black,gold,silver);
    height: 5px;
}

/*Propiedades de la caja columna*/
.colum{
    margin-top: 4%;
    display: flex;
}

/*Aplicadores de las propiedades a la imagen*/
.ico1 img{
    width: 100px;
    height: 100px;
    margin-left: 70%;
}

/*Aplicando propiedades al titulo*/
.colum .texto2 h3{
    margin-top: 1%;
    position: absolute;
    font-weight: bold;
}
/*Aplicacndo propiedades a los parrafos de las separaciones*/
.colum .texto2 p{
    margin-top: 13%;
    text-align: justify;
}

/*Ajustado la caja del texto*/
.colum .texto2{
    width: 50%;
    margin-left: 16%;
}

/*A partir de aquí se hace lo mismo que con las columnas anteriores
por eso voy a obviar comentar esta parte, porque solo hice un copia y 
pega de lo que ya había hecho posteriormente*/

.colum2{
    margin-top: 4%;
    display: flex;
}


.ico2 img{
    width: 100px;
    height: 100px;
    margin-left: 70%;
}

.colum2 .texto3 h3{
    margin-top: 1%;
    position: absolute;
    font-weight: bold;
}

.colum2 .texto3 p{
    margin-top: 13%;
    text-align: justify;
}

.colum2 .texto3{
    width: 50%;
    margin-left: 16%;
}

/*A partir de aquí se hace lo mismo que con las columnas anteriores
por eso voy a obviar comentar esta parte, porque solo hice un copia y 
pega de lo que ya había hecho posteriormente*/


.colum3{
    margin-top: 4%;
    display: flex;
}


.ico3 img{
    width: 100px;
    height: 100px;
    margin-left: 70%;
}

.colum3 .texto4 h3{
    margin-top: 1%;
    position: absolute;
    font-weight: bold;
}

.colum3 .texto4 p{
    margin-top: 13%;
    text-align: justify;
}

.colum3 .texto4{
    width: 50%;
    margin-left: 16%;
}

/*Aqui definimos nuestro pie de pagina y como queremos que este luzca*/

#footer{
    margin-top: 10%;
    padding-bottom: 10%;
}

/*Poner el contendio, en este caso las imagenes en linea*/

#footer ul li{

    display: inline;
    padding: 1px;

}

#footer p{
    margin-top: 3%;
    font-weight: bold;

}

#footer ul li img{
    width: 3.5%;
    height: 5%;
    border-radius:50px;
}

#footer strong p{
    margin-top: 1%;
}